@font-face {
  font-family: "bah";
  src: url(../fonts/Bahnschrift.ttf) format("truetype");
}
html, body, #root {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #101010;
  font-size: 1rem;
  position: relative;
  scroll-behavior: smooth;
}
html.small, body.small, #root.small {
  max-height: 100vh;
  overflow: hidden;
}
html .react-rotating-text-cursor, body .react-rotating-text-cursor, #root .react-rotating-text-cursor {
  display: none;
}
html .bg.react, body .bg.react, #root .bg.react {
  background-color: #14C7FF;
}
html .bg.laravel, body .bg.laravel, #root .bg.laravel {
  background-color: #e74430;
}
html .bg.java, body .bg.java, #root .bg.java {
  background-color: #f89820;
}
html .bg.html5, body .bg.html5, #root .bg.html5 {
  background-color: #e34c26;
}
html .bg.sass, body .bg.sass, #root .bg.sass {
  background-color: #cc6699;
}
html .bg.javascript, body .bg.javascript, #root .bg.javascript {
  background-color: #F0DB4F;
}
html .bg.mysql, body .bg.mysql, #root .bg.mysql {
  background-color: #00758F;
}
html .bg.sql, body .bg.sql, #root .bg.sql {
  background-color: #7FBA00;
}
html .bg.python, body .bg.python, #root .bg.python {
  background-color: #306998;
}
html .bg[class="asp .net"], body .bg[class="asp .net"], #root .bg[class="asp .net"] {
  background-color: #1483c6;
}
html .bg.graphql, body .bg.graphql, #root .bg.graphql {
  background-color: #e535ab;
}
html .color.react, body .color.react, #root .color.react {
  background-color: #14C7FF;
}
html .color.laravel, body .color.laravel, #root .color.laravel {
  background-color: #e74430;
}
html .color.java, body .color.java, #root .color.java {
  background-color: #f89820;
}
html .color.html5, body .color.html5, #root .color.html5 {
  background-color: #e34c26;
}
html .color.sass, body .color.sass, #root .color.sass {
  background-color: #cc6699;
}
html .color.javascript, body .color.javascript, #root .color.javascript {
  background-color: #F0DB4F;
}
html .color.mysql, body .color.mysql, #root .color.mysql {
  color: #00758F;
}
html .color.sql, body .color.sql, #root .color.sql {
  color: #7FBA00;
}
html .color.python, body .color.python, #root .color.python {
  color: #306998;
}
html .color[class="asp .net"], body .color[class="asp .net"], #root .color[class="asp .net"] {
  color: #1483c6;
}
html .color.graphql, body .color.graphql, #root .color.graphql {
  color: #e535ab;
}
html .border.react, body .border.react, #root .border.react {
  border-color: #14C7FF !important;
}
html .border.laravel, body .border.laravel, #root .border.laravel {
  border-color: #e74430 !important;
}
html .border.java, body .border.java, #root .border.java {
  border-color: #f89820 !important;
}
html .border.html5, body .border.html5, #root .border.html5 {
  border-color: #e34c26 !important;
}
html .border.sass, body .border.sass, #root .border.sass {
  border-color: #cc6699 !important;
}
html .border.javascript, body .border.javascript, #root .border.javascript {
  border-color: #F0DB4F !important;
}
html .border.mysql, body .border.mysql, #root .border.mysql {
  border-color: #00758F !important;
}
html .border.sql, body .border.sql, #root .border.sql {
  border-color: #7FBA00 !important;
}
html .border.python, body .border.python, #root .border.python {
  border-color: #306998 !important;
}
html .border[class="asp .net"], body .border[class="asp .net"], #root .border[class="asp .net"] {
  border-color: #1483c6 !important;
}
html .border.graphql, body .border.graphql, #root .border.graphql {
  border-color: #e535ab !important;
}
html a, body a, #root a {
  text-decoration: none;
}
html h1, body h1, #root h1 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "bah", Arial, Helvetica, sans-serif;
  color: #14C7FF;
  margin: 1.5rem 0;
}
html h2, body h2, #root h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "bah", Arial, Helvetica, sans-serif;
  color: #c7c7c7;
  margin-bottom: 1.5rem;
}
html p, body p, #root p {
  margin-bottom: 0.5rem;
}
html section, html div.text, body section, body div.text, #root section, #root div.text {
  margin-bottom: 2rem;
}
html .mark, body .mark, #root .mark {
  border-left: 0.4rem solid #2A2A2A;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  height: 0%;
}
html .img-split, body .img-split, #root .img-split {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
html .img-split .text, body .img-split .text, #root .img-split .text {
  width: 35rem;
}
html .img-split img, body .img-split img, #root .img-split img {
  width: 15rem;
  border-radius: 0.5rem;
}
html .code, body .code, #root .code {
  font-family: "Courier New", Courier, monospace;
}
html .tags, body .tags, #root .tags {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
html .tags .tag, body .tags .tag, #root .tags .tag {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  margin: 0 1rem 0.5rem 0;
  border: solid 0.2rem #14C7FF;
  border-radius: 2rem;
}
html div.loading, body div.loading, #root div.loading {
  position: absolute;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background: #101010;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
html div.loading.stopped, body div.loading.stopped, #root div.loading.stopped {
  pointer-events: none;
  background: transparent;
}
html #timeline-main-wrapper, html [data-testid], body #timeline-main-wrapper, body [data-testid], #root #timeline-main-wrapper, #root [data-testid] {
  padding: 0;
}
html main, body main, #root main {
  max-width: 60rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  min-height: 70vh;
}
html main > section, body main > section, #root main > section {
  margin-bottom: 10rem;
}
html::-webkit-scrollbar, body::-webkit-scrollbar, #root::-webkit-scrollbar {
  width: 11px;
}
html, body, #root {
  scrollbar-width: thin;
  scrollbar-color: #c7c7c7 #101010;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track, #root::-webkit-scrollbar-track {
  background: #101010;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb {
  background-color: #2A2A2A;
  border-radius: 6px;
  border: 3px solid #101010;
}

@media screen and (max-width: 450px) {
  html main .mark, #root main .mark {
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    border-left: none;
  }
}

/*# sourceMappingURL=App.css.map */
