.search {
  margin-bottom: 2rem;
}
.search input[type=text] {
  all: unset;
  background-color: #2A2A2A;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 15rem;
}
.search input[type=submit] {
  all: unset;
  padding: 0.5rem 1rem;
  border: 0.2rem solid #14C7FF;
  border-radius: 0.3rem;
}

.post-navigation {
  margin-bottom: 2rem;
}
.post-navigation ul {
  padding-left: 1.5rem;
}
.post-navigation ul li {
  position: relative;
  margin-bottom: 0.5rem;
}
.post-navigation ul li a {
  color: white;
}
.post-navigation ul li a::before {
  content: "#";
  font-family: "Consolas", "Courier New", Courier, monospace;
  color: #14C7FF;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  left: -1.5rem;
  width: 1.5em;
}

.optionsMenu {
  font-family: "Consolas", "Courier New", Courier, monospace !important;
}
.optionsMenu .options-toggle {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.8rem;
  border: 0.2rem #2A2A2A solid;
  border-radius: 0.5rem;
}
.optionsMenu strong {
  display: block;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 1rem !important;
}

.posts article {
  min-height: 100vh;
  margin-bottom: 3rem;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: #141414;
  border-radius: 0.3rem;
}
.posts article h2 {
  color: white !important;
}
.posts article h2 a {
  color: #14C7FF;
  padding-right: 1rem;
}
.posts article .content {
  line-height: 1.6rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.posts article .content p + *:not(ul) {
  margin-bottom: 2rem !important;
}
.posts article .content p + *:not(ul) strong {
  font-weight: bolder;
}
.posts article .content em {
  padding: 1rem;
  display: block;
  padding-left: 2rem;
  margin: 2rem !important;
  font-style: italic;
  border-left: #14C7FF 0.3rem solid;
}
.posts article .content [data-type=object] {
  margin: 2rem 0;
}
.posts article .content [data-type=object] > a {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none !important;
}
.posts article .content [data-type=object] > a h1 {
  font-size: 1rem !important;
  margin-right: auto !important;
  font-family: "Consolas", "Courier New", Courier, monospace !important;
}
.posts article .content [data-type=object] > a img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.posts article .content [data-type=object] > a p {
  display: none;
}
.posts article .content iframe {
  margin: 1rem 0;
  width: 100%;
  height: 65vh;
  border-radius: 0.3rem;
}
.posts article .content pre {
  padding: 1rem 2rem;
  padding-top: 1.25rem;
  margin: 1.5rem 0 !important;
  border-radius: 0.3rem;
  font-family: "Consolar", "Courier New", Courier, monospace;
  border: 0.2rem solid #2A2A2A;
  overflow-x: scroll;
}
.posts article .content pre::-webkit-scrollbar {
  width: auto;
  height: 0.25rem;
}
.posts article .content pre::-webkit-scrollbar-track {
  background: transparent;
}
.posts article .content pre::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 6px 6px 0 0;
  border: 3px solid #14C7FF;
}
.posts article .content a {
  text-decoration: underline !important;
  color: #14C7FF;
}
.posts article .content h3 {
  color: #14C7FF;
  margin-top: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}
.posts article .content h4 {
  color: hotpink;
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.posts article .content img {
  width: 100%;
  border-radius: 0.3rem;
}
.posts article .content ul {
  list-style-type: none;
  padding-top: 1rem;
  padding-left: 1.5rem;
}
.posts article .content ul li {
  margin-bottom: 0.5rem;
  position: relative;
}
.posts article .content ul li::before {
  content: ">";
  font-family: "Consolas", "Courier New", Courier, monospace;
  color: hotpink;
  font-weight: bold;
  position: absolute;
  left: -1.5rem;
  display: inline-block;
  width: 1.5em;
}
.posts article .content ul li strong {
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-weight: bold;
}
.posts article > em {
  font-weight: bold;
  color: #c7c7c7;
}

@media screen and (max-width: 400px) {
  .posts article {
    padding: 0.3rem;
  }
  .posts article .content .quote {
    padding: 0 0 0 0.7rem;
    margin: 1rem 0 !important;
  }
  .posts article h2 > a {
    display: none;
  }
}

/*# sourceMappingURL=BlogPosts.css.map */
