$text: white;
$text-dark: #A2A2A2;
$bg-light: #2A2A2A;
$bg: #101010;
$accent: #14C7FF;
$post-bg: #141414;

$react: #14C7FF;
$laravel: #e74430;
$java: #f89820;
$html: #e34c26;
$sass: #cc6699;
$js: #F0DB4F;
$mysql: #00758F;
$sql: #7FBA00;
$python: #306998;
$asp: #1483c6;
$graphql: #e535ab;