@use 'colors';
@use 'fonts';
@use 'text';

html,body, #root{
    font-family: fonts.$general;
    color: colors.$text;
    background-color: colors.$bg;
    font-size: 1rem;
    position: relative;
    scroll-behavior: smooth;

    &.small{
        max-height: 100vh;
        overflow: hidden;
    }

    .react-rotating-text-cursor {
        display: none;
      }


    .bg{
        &.react{
            background-color: colors.$react;
        }

        &.laravel{
            background-color: colors.$laravel;
        }

        &.java{
            background-color: colors.$java;
        }

        &.html5{
            background-color: colors.$html;
        }

        &.sass{
            background-color: colors.$sass;
        }

        &.javascript{
            background-color: colors.$js;
        }

        &.mysql{
            background-color: colors.$mysql;
        }

        &.sql{
            background-color: colors.$sql;
        }

        &.python{
            background-color: colors.$python;
        }

        &[class="asp .net"]{
            background-color: colors.$asp;
        }

        &.graphql{
            background-color: colors.$graphql;
        }
    }

    .color{
        &.react{
            background-color: colors.$react;
        }

        &.laravel{
            background-color: colors.$laravel;
        }

        &.java{
            background-color: colors.$java;
        }

        &.html5{
            background-color: colors.$html;
        }

        &.sass{
            background-color: colors.$sass;
        }

        &.javascript{
            background-color: colors.$js;
        }

        &.mysql{
            color: colors.$mysql;
        }

        &.sql{
            color: colors.$sql;
        }

        &.python{
            color: colors.$python;
        }

        &[class="asp .net"]{
            color: colors.$asp;
        }

        &.graphql{
            color: colors.$graphql;
        }
    }

    .border{
        &.react{
            border-color: colors.$react !important;
        }

        &.laravel{
            border-color: colors.$laravel !important;
        }

        &.java{
            border-color: colors.$java !important; 
        }

        &.html5{
            border-color: colors.$html !important;
        }

        &.sass{
            border-color: colors.$sass !important;
        }

        &.javascript{
            border-color: colors.$js !important;
        }

        &.mysql{
            border-color: colors.$mysql !important;
        }

        &.sql{
            border-color: colors.$sql !important;
        }

        &.python{
            border-color: colors.$python !important;
        }

        &[class="asp .net"]{
            border-color: colors.$asp !important;
        }

        &.graphql{
            border-color: colors.$graphql !important;
        }
    }
    

    a{
        text-decoration: none;
    }

    h1{
        font-size: 1.8rem;
        font-weight: bold;
        font-family: fonts.$title;
        color: colors.$accent;
        margin: text.$margin-st 0;
        
    }

    h2{
        font-size: 1.5rem;
        font-weight: bold;
        font-family: fonts.$title;
        color: colors.$text-dark;
        margin-bottom: text.$margin-st;
    }

    p{
        margin-bottom: text.$margin-sm;
    }

    section, div.text{
        margin-bottom: text.$margin-lg;
    }



    .mark{
        border-left: 0.4rem solid colors.$bg-light;
        padding: 1rem 2rem;
        margin: 1rem 1rem;
        height: 0%;
    }

    .img-split{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .text{
            width: 35rem;
        }

        img{
            width: 15rem;
            border-radius: 0.5rem;
        }
    }

    .code{
        font-family: 'Courier New', Courier, monospace;
    }



    .tags{
        display: flex;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        .tag{
            text-transform: capitalize;
            padding: 0.5rem 1rem;
            margin: 0 1rem 0.5rem 0;
            border: solid 0.2rem colors.$accent;
            border-radius: 2rem;     
        }
    }

    div.loading{
        position: absolute;
        -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
        background: colors.$bg;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        &.stopped{
            pointer-events:none;
            background: transparent;

        }
        
    }

    #timeline-main-wrapper, [data-testid]{
        padding: 0
    }

    

    main{
        max-width: 60rem;
        padding: 0.5rem 1rem;;
        margin: 0 auto;
        margin-bottom: 5rem;
        min-height: 70vh;

        & > section{
            margin-bottom: 10rem;
        }
    }


    &::-webkit-scrollbar {
        width: 11px;
      }
      & {
        scrollbar-width: thin;
        scrollbar-color: colors.$text-dark colors.$bg;
      }
      &::-webkit-scrollbar-track {
        background: colors.$bg;
      }
      &::-webkit-scrollbar-thumb {
        background-color: colors.$bg-light;
        border-radius: 6px;
        border: 3px solid colors.$bg;
      }


}

@media screen and (max-width: 450px) {
    html, #root{
        main{
            .mark{
                margin: 1rem 0rem;
                padding: 1rem 0rem;
                border-left: none;
            }
        }
    }
}


