@use 'colors';
@use 'fonts';
@use 'text';

html,body, #root{
    font-family: fonts.$general;
    color: colors.$text;
    background-color: colors.$bg;
    font-size: 1rem;
    position: relative;
    scroll-behavior: smooth;

    .react-rotating-text-cursor {
        display: none;
      }
    

    a{
        text-decoration: none;
    }

    h1{
        font-size: 1.8rem;
        font-weight: bold;
        font-family: fonts.$title;
        color: colors.$accent;
        margin: text.$margin-st 0;
        
    }

    h2{
        font-size: 1.5rem;
        font-weight: bold;
        font-family: fonts.$title;
        color: colors.$text-dark;
        margin-bottom: text.$margin-st;
    }

    p{
        margin-bottom: text.$margin-sm;
    }

    section, div.text{
        margin-bottom: text.$margin-lg;
    }

    .mark{
        border-left: 0.4rem solid colors.$bg-light;
        padding: 1rem 2rem;
        margin: 1rem 1rem;
        height: 0%;
    }

    .img-split{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .text{
            width: 35rem;
        }

        img{
            width: 15rem;
            border-radius: 0.5rem;
        }
    }

    .code{
        font-family: 'Courier New', Courier, monospace;
    }

    

    main{
        max-width: 60rem;
        padding: 0.5rem 1rem;;
        margin: 0 auto;
        min-height: 70vh;
    }


    &::-webkit-scrollbar {
        width: 11px;
      }
      & {
        scrollbar-width: thin;
        scrollbar-color: colors.$text-dark colors.$bg;
      }
      &::-webkit-scrollbar-track {
        background: colors.$bg;
      }
      &::-webkit-scrollbar-thumb {
        background-color: colors.$bg-light;
        border-radius: 6px;
        border: 3px solid colors.$bg;
      }


}

@media screen and (max-width: 450px) {
    html, #root{
        main{
            .mark{
                margin: 1rem 0rem;
                padding: 1rem 0rem;
                border-left: none;
            }
        }
    }
}


