@use 'colors';

.search{

    


    input[type=text]{
        all:unset;
        background-color: colors.$bg-light;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        width: 100%;
        max-width: 15rem;
    }

    input[type=submit]{
        all:unset;
        padding: 0.5rem 1rem;
        border: 0.2rem solid colors.$accent;
        border-radius: 0.3rem;

    }

    margin-bottom: 2rem;
}

.post-navigation{
    margin-bottom: 2rem;
    ul{
        padding-left: 1.5rem;
        li{
            position: relative;
            margin-bottom: 0.5rem;
            
            a{
                color: white;

                &::before{
                    content: "#";
                    font-family: 'Consolas', 'Courier New', Courier, monospace;
                    color: colors.$accent; 
                    font-weight: bold;
                    position: absolute;
                    display: inline-block; 
                    left: -1.5rem;
                    width: 1.5em; 
                }
            }

            
        }
    }
}

.optionsMenu{
    font-family: 'Consolas', 'Courier New', Courier, monospace !important;
    .options-toggle{
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1rem;
        margin: 1rem 0;
        padding: 0.8rem;
        
        border: 0.2rem colors.$bg-light solid;
        border-radius: 0.5rem;

    }

    strong{
        display: block;
        font-weight: bolder;
        font-size: 1.2rem;
        margin-bottom: 1rem !important;
    }
}


.posts{

    article{

        min-height: 100vh;
        margin-bottom: 3rem;
        padding: 1.5rem;
        box-sizing: border-box;
        background-color: colors.$post-bg;
        border-radius: 0.3rem;

        

        h2{
            color: white !important;

           a {
                color: colors.$accent;
                padding-right: 1rem;
            }
        }

        .content{
            line-height: 1.6rem;
            margin-bottom: 2rem;
            font-size: 1.2rem;

            h6{
                font-size: 1rem;
                font-style: italic;
                text-align: center;
                color: rgb(185, 185, 185);
                font-family: 'Consolas', 'Courier New', Courier, monospace;
            }

            p + *:not(ul){
                margin-bottom: 2rem !important;

                strong{
                    font-weight: bolder;
                }
            }

            p.block-img{
                margin-bottom: 0.5rem !important;
            }

            em {
                padding: 1rem;
                display: block;
                padding-left: 2rem;
                margin: 2rem !important;
                font-style: italic;
                border-left: colors.$accent 0.3rem solid;
            }

            [data-type="object"] {
                margin: 2rem 0;

                & > a{
                    display: flex;
                    flex-direction: row-reverse;
                    text-decoration: none !important;
                    h1{
                        font-size: 1rem !important;
                        margin-right: auto !important;
                        font-family: 'Consolas', 'Courier New', Courier, monospace !important;
    
                    }
    
                    img{
                        width: 4rem;
                        height: 4rem;
                        margin-right: 1rem;
                    }
    
                    p {
                        display: none;
                    }
                }
            }

            iframe {
                margin: 1rem 0;
                width: 100%;
                height: 65vh;
                border-radius: 0.3rem;
                
            }

            pre {
                padding: 1rem 2rem;
                padding-top: (1rem + 0.25rem);
                margin: 1.5rem 0 !important;
                border-radius: 0.3rem;
                font-family: 'Consolar', 'Courier New', Courier, monospace;
                border: 0.2rem  solid colors.$bg-light;

                overflow-x: scroll;

                &::-webkit-scrollbar {
                    width: auto;
                    height: 0.25rem;
                }

                  &::-webkit-scrollbar-track {
                    background: transparent;
                  }
                  &::-webkit-scrollbar-thumb {
                    background-color: red;
                    border-radius: 6px 6px 0 0;
                    border: 3px solid colors.$accent;
                  }

                
            }

            a{
                text-decoration: underline !important;
                color: colors.$accent;
            }

            h3{
                color: colors.$accent;
                margin-top: 2rem;
                font-weight: bold;
                padding-bottom: 1rem;
                font-size: 1.6rem;
            }

            h4{
                color: hotpink;
                font-size: 1.4rem;
                font-weight: bold;
                padding-bottom: 0.5rem;
                margin-top: 1.5rem;
            }

            img{
                width: 100%;
                border-radius: 0.3rem;
            }

            ul{
                list-style-type:none;
                
                padding-top: 1rem;
                padding-left: 1.5rem;

                li{
                    margin-bottom: 0.5rem;
                    position: relative;

                    &::before{
                        content: ">";
                        font-family: 'Consolas', 'Courier New', Courier, monospace;
                        color: hotpink; 
                        font-weight: bold;
                        position: absolute;
                        left: -1.5rem;
                        display: inline-block; 
                        width: 1.5em; 
                    }

                    strong{
                        font-family: 'Consolas', 'Courier New', Courier, monospace;
                        font-weight: bold;
                    }
                }

            
                
            }
        }

        & > em{
            font-weight: bold;
            color: colors.$text-dark
        }
    }
}

@media screen and (max-width: 400px) {
    .posts{

        article{

            padding: 0.3rem;

            .content{
                .quote{
                    padding: 0 0 0 0.7rem;
                    margin: 1rem 0 !important;
                }
            }

            h2{
                & > a{
                    display: none;
                }
            }
        }
    }
}