@use 'colors';

.posts{

    article{

        min-height: 100vh;
        margin-bottom: 3rem;
        padding: 1.5rem;
        box-sizing: border-box;
        background-color: colors.$post-bg;
        border-radius: 0.3rem;

        h2{
            color: white !important;

           a {
                color: colors.$accent;
                padding-right: 1rem;
            }
        }

        .tags{
            display: flex;
            margin-bottom: 1rem;
        }

        .content{
            line-height: 1.2rem;
            margin-bottom: 2rem;

            em {
                padding: 1rem;
                display: block;
                padding-left: 2rem;
                margin: 2rem !important;
                font-style: italic;
                border-left: colors.$accent 0.3rem solid;
            }

            iframe {
                margin: 1rem 0;
                width: 100%;
                height: 65vh;
                
            }

            pre {
                padding: 1rem 2rem;
                margin: 1.5rem 0 !important;
                border-radius: 0.3rem;
                border: 0.2rem  solid colors.$bg-light;
            }

            a{
                text-decoration: underline !important;
                color: colors.$accent
            }

            h3{
                color: colors.$accent;
                margin-top: 2rem;
                font-weight: bold;
                padding-bottom: 1rem;
                font-size: 1.2rem;
            }
        }

        & > em{
            font-weight: bold;
            color: colors.$text-dark
        }
    }
}

@media screen and (max-width: 400px) {
    .posts{

        article{

            padding: 0.3rem;

            .content{
                .quote{
                    padding: 0 0 0 0.7rem;
                    margin: 1rem 0 !important;
                }
            }

            h2{
                & > a{
                    display: none;
                }
            }
        }
    }
}