@use 'colors';

footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5rem solid colors.$accent;
    background-image: linear-gradient(
            to top,   black ,colors.$bg
          );

}

