@use 'colors';

footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5rem solid colors.$accent;
    background-image: url('../images/logos/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: right 1rem bottom 0.5rem;
    background-image: linear-gradient(
      to top,   black ,colors.$bg
    );

}

